<div class="container">
    <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
        <div class="col-sm-4 picture-frame-side">
          <p><%= notice %></p>
          <h1>投稿一覧</h1>
          <%= link_to "写真を投稿する", new_picture_path, class: 'btn btn-default' %>
      </div>
        <div class="col-sm-8 picture-main">
            <% @pictures.each do |picture| %>
                <div class="picture-frame-main">
                    <p class="img-val"><%= profile_img(picture.user) %></p>
                    <h4><strong><%= picture.title %></strong></h4>
                    <p><%= picture.content %></p>
                    <p class="img"><%= photo_img(picture) %></p>
                    <%= link_to "編集", edit_picture_path(picture.id), class: 'btn btn-default btn-sm btn-success' %>
                    <%= link_to "削除", picture_path(picture.id), method: :delete, data: { confirm: '本当に削除していいですか？'}, class: 'btn btn-default btn-sm btn btn-danger' %>

                    <p><%= picture.user.name %></p>
                </div>
            <% end %>
        </div>
    </div>
</div>
